:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-family: 'Arial', sans-serif;
}

.project-menu
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    position :absolute;
    flex-wrap: nowrap;
    top: 50px;
    left: 10px;
}

.recents-card
{
    border: 2px solid var(--primary-color);
    height: 450px;
    width: 300px;
    display: inline-block;
    margin: 5px 5px;
    border-radius: 20px;
    text-align: justify;
    position: relative;
}

.recents-card-header
{
    padding: 15px;
    padding-bottom: 0px;
    margin: 0 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--font-family);
}

.recents-card hr
{
    margin: 5px;
}

.recents-card-body
{
    padding: 10px 5px;
    padding-top: 0px;
    margin: 0 15px;
    font-size: 16px;
}

.actions-card
{
    display: inline-block;
    margin: 5px 5px;
    text-align: justify;
    position: relative;
}

.actions-card button
{
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    display: block;
    width : 142px;
    transition-duration: 0.25s;
}

.actions-card button:hover
{
    transform: scale(1.1);
    background-color: var(--secondary-color);
}